body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
    background: #FAD02C;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/yellow-flat-fashion-purple-dynamic-260nw-1665732847.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
header{
    height:85px;
    text-align:left;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 25px;
    color: white;
    background-color: black;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: left;
    align-items: center;
    height: 1px;
}
nav img{
    width: 47px;
}
.nav-links{
    flex: 1;
    text-align: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 17px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin:auto;
    padding: 0;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    margin: 0;
}
.center{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 5%;
    height: 500px;
    border: 3px solid black;
}
.center h1{
    text-align: center;
    padding: 0 0 7px 0;
    border-bottom: 1px solid silver;
    color: black;
}
.center form{
    padding: 0 30px;
    box-sizing:border-box;
    color: black;
    border-radius:25px;
    text-align: center;
    margin: 25px;
}
form .txt_field{
    position: relative;
    margin: 10px;
    height: 55px;
    
}
.tot{
    margin:0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: bolder;
    text-align: center;
    background: #c5c6d0;
}
input[type="submit"]{
    width: 50%;
    height: 35px;
    background: black;
    color: white;
    border-radius: 20px;
    margin: 17px;
}
input[type="submit"]:hover{
    color: white;
    background: #9932CC;
    transition: 0.5s;
}